<!-- Navabr top -->
<div
  id="header"
  class="flex flex-col md:flex-row space-y-3 md:items-center md:justify-between bg-blue-700 px-7 py-2"
>
  <!-- Contact details  -->
  <div id="contact" class="text-white md:flex md:items-center md:gap-3">
    <p id="phone-number"><i class="fa-solid fa-phone"></i> +91 9633702159</p>
    <span class="hidden md:block">|</span>
    <p id="phone-number">
      <i class="fa-solid fa-envelope"></i> info.karmana@gmail.com
    </p>
  </div>
  <!-- Apply Link -->
  <a href="/auth/register">
    <button
      class="bg-white px-5 py-2 font-bold rounded-md hover:scale-95 transition"
    >
      Apply for KEPT 2024
    </button>
  </a>
</div>
