<footer class="bg-blue-700 text-white py-10 px-5 text-center mt-auto">
  <h1 class="text-5xl font-bold">
    KSWZ
    <span class="text-base">Karmana School of Witchcraft and Wizardry</span>
  </h1>
  <p>Made for Academic Purpose, No Copyright</p>
</footer>
