<section id="registration-page" class="px-3">
  <form action="#" method="POST" id="registration-form">
    <div id="student-information">
      <h2 class="mb-2 font-bold text-lg">Student Information</h2>
      <div
        id="name"
        class="flex flex-col gap-3 items-center justify-center md:flex-row md:gap-5"
      >
        <div class="form-item w-[90%]">
          <label class="block" for="first-name">First Name</label>
          <input
            class="border-2 w-full md:py-2"
            type="text"
            name="firstName"
            id="first-name"
          />
        </div>
        <div class="form-item w-[90%]">
          <label class="block" for="middle-name">Middle Name</label>
          <input
            class="border-2 w-full md:py-2"
            type="text"
            name="middleName"
            id="middle-name"
          />
        </div>
        <div class="form-item w-[90%]">
          <label class="block" for="last-name">Last Name</label>
          <input
            class="border-2 w-full md:py-2"
            type="text"
            name="last-name"
            id="last-name"
          />
        </div>
      </div>
      <div id="other-info" class="flex flex-col items-center mt-3 md:flex-row">
        <div
          id="age-n-dob"
          class="w-full flex flex-col gap-3 items-center justify-center md:flex-row md:gap-5"
        >
          <div class="form-item w-[90%] md:w-1/2">
            <label class="block" for="dob">Date of Birth</label>
            <input
              class="border-2 w-full md:py-2"
              type="date"
              name="dob"
              id="dob"
            />
          </div>
          <div class="form-item w-[90%] md:w-1/2">
            <label class="block" for="dob"
              >Age as of <span id="currentDate"></span
            ></label>
            <input
              class="border-2 w-full md:py-2"
              type="text"
              name="age"
              id="age"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<script src="/scripts/registrationScripts.js" type="module"></script>
