<section
  id="about"
  class="md:px-20 px-5 py-5 flex justify-start gap-10 relative"
>
  <nav
    id="about-nav"
    class="hidden md:block md:w-[25%] sticky top-0 h-screen border-r-2"
  >
    <ul class="font-bold grid grid-cols-1 gap-5">
      <li class="border-b-2"><a href="#vision">Vision</a></li>
      <li class="border-b-2"><a href="#history">History</a></li>
      <li class="border-b-2"><a href="#why-kept">Why KEPT</a></li>
      <li class="border-b-2"><a href="#our-commitment">Commitment</a></li>
      <li class="border-b-2"><a href="#our-campus">Campus</a></li>
      <li class="border-b-2">
        <a href="#extra-curricular-section">Extra-Curricular Activites</a>
      </li>
      <li class="border-b-2">
        <a href="#achievements-container">Achievements</a>
      </li>
    </ul>
  </nav>
  <div id="about-container" class="w-full md:w-[75%]">
    <div id="vision">
      <h2 class="text-4xl font-bold mb-4 uppercase">Our Vision</h2>
      <p class="text-justify mb-2 text-base mb:text-lg">
        At Karmana School of Witchcraft and Wizardry, our vision is to create a
        nurturing environment where young witches and wizards can unlock their
        magical potential and grow into powerful, ethical, and enlightened
        individuals. We aim to blend traditional magical teachings with modern
        educational practices to provide a holistic learning experience.
      </p>
      <p class="mb:text-lg text-base">
        Our vision is built on several core principles:
      </p>
      <ol
        id="vision-container"
        class="mt-5 list-decimal px-5 md:px-20 space-y-5 text-justify text-sm md:text-base"
      >
        <li>
          <strong>Academic Excellence:</strong>
          <p>
            We strive to be a leading institution in magical education,
            providing a rigorous and comprehensive curriculum that challenges
            our students to excel in all areas of magic. Our dedicated faculty
            are experts in their fields, constantly pushing the boundaries of
            magical knowledge and research.
          </p>
        </li>
        <li>
          <strong>Holistic Development:</strong>
          <p>
            We believe in nurturing not just the intellectual, but also the
            emotional, social, and physical well-being of our students. Through
            a variety of extracurricular activities, counseling services, and
            community engagement programs, we support the overall development of
            each student.
          </p>
        </li>
        <li>
          <strong>Academic Excellence:</strong>
          <p>
            We strive to be a leading institution in magical education,
            providing a rigorous and comprehensive curriculum that challenges
            our students to excel in all areas of magic. Our dedicated faculty
            are experts in their fields, constantly pushing the boundaries of
            magical knowledge and research.
          </p>
        </li>
        <li>
          <strong>Innovation and Research: </strong>
          <p>
            At Karmana, we encourage curiosity and innovation. Our students are
            given opportunities to engage in cutting-edge magical research and
            explore new applications of ancient spells and potions. We foster a
            spirit of inquiry and creativity, ensuring our students are at the
            forefront of magical advancements.
          </p>
        </li>
        <li>
          <strong>Cultural Heritage: </strong>
          <p>
            We are proud of our rich cultural heritage and aim to preserve and
            celebrate it. Our curriculum includes the study of ancient Indian
            magical traditions and practices, blending them with contemporary
            magical education to provide a unique learning experience.
          </p>
        </li>
      </ol>
    </div>

    <div id="history" class="mt-7 text-base md:text-lg text-justify">
      <h2 class="text-4xl font-bold mb-4 uppercase">History</h2>
      <p class="mb-4">
        Karmana School of Witchcraft and Wizardry has a storied history that
        reflects its deep roots in magical tradition and its evolution into a
        premier institution for magical education.
      </p>
      <div
        id="era-container"
        class="text-sm md:text-base px-5 md:px-20 text-justify"
      >
        <div id="era" class="mb-3">
          <strong>Founding Era (1923 - 1950s)</strong>
          <p>
            The origins of Karmana date back to 1923 when the visionary wizard
            Arjun Patel, inspired by ancient Indian magical lore, founded the
            school in the picturesque hills of Kerala, India. Patel’s goal was
            to create a sanctuary where magical talent could be nurtured away
            from the distractions of the modern world. The school began with
            modest facilities and a small group of students but quickly gained
            recognition for its innovative approach to magical education.
          </p>
        </div>
        <div id="era" class="mb-3">
          <strong>Modernization and Expansion (1980s - 2000s)</strong>
          <p>
            In the latter part of the 20th century, Karmana embraced
            modernization while retaining its core values. Advanced magical
            technologies and research facilities were introduced, and the
            curriculum was updated to include contemporary magical studies
            alongside traditional practices. The school also established
            international partnerships, fostering exchanges with magical
            institutions worldwide. This era saw the introduction of the Karmana
            Entrance Proficiency Test (KEPT), designed to ensure a high standard
            of incoming students.
          </p>
        </div>
        <div id="era" class="mb-3">
          <strong>Present Day (2000s - Present)</strong>
          <p class="mb-2">
            Today, Karmana School of Witchcraft and Wizardry stands as a beacon
            of magical education. The campus features state-of-the-art
            facilities, including high-tech alchemy labs, cutting-edge
            spellcasting arenas, and a modernized library that houses both
            ancient texts and contemporary magical research. The school
            continues to attract a diverse student body from across the globe,
            reflecting its commitment to fostering a global community of witches
            and wizards.
          </p>
          <p>
            The legacy of Arjun Patel’s vision is evident in every aspect of the
            school. Karmana remains dedicated to blending the rich traditions of
            Indian magic with the demands of the modern world. Through its
            innovative programs, diverse offerings, and unwavering commitment to
            excellence, Karmana continues to shape the future of magical
            education and inspire the next generation of witches and wizards.
          </p>
        </div>
        <div id="era" class="mb-3">
          <strong>Notable Alumni</strong>
          <p>
            Throughout its history, Karmana has produced numerous distinguished
            alumni who have made significant contributions to the magical world.
            These include celebrated magical researchers, influential magical
            policymakers, and renowned practitioners in various fields of magic.
            Karmana School of Witchcraft and Wizardry’s history is a testament
            to its enduring commitment to excellence, innovation, and the
            preservation of magical heritage.
          </p>
        </div>
      </div>
    </div>

    <div id="why-kept" class="mt-7">
      <h2 class="text-4xl font-bold mb-4 uppercase">Why KEPT ?</h2>
      <p class="text-base md:text-lg">
        The Karmana Entrance Proficiency Test (KEPT) is an essential part of our
        admissions process. Here’s why we conduct KEPT:
      </p>
      <div
        id="kept-container"
        class="text-sm md:text-base px-5 md:px-20 text-justify mt-3"
      >
        <div id="kept-reason" class="mb-3">
          <strong>Identifying Talent </strong>
          <p>
            KEPT allows us to identify young witches and wizards with
            exceptional magical abilities. It helps us find students who will
            benefit the most from our specialized programs.
          </p>
        </div>
        <div id="kept-reason" class="mb-3">
          <strong>Equal Opportunity </strong>
          <p>
            KEPT provides a fair and transparent admissions process. Every
            aspiring student has the opportunity to showcase their abilities
            regardless of their background.
          </p>
        </div>
        <div id="kept-reason" class="mb-3">
          <strong>Diverse Student Body </strong>
          <p>
            By conducting KEPT, we attract students from different regions and
            cultures, fostering a diverse and inclusive community.
          </p>
        </div>
        <div id="kept-reason" class="mb-3">
          <strong>Academic Excellence </strong>
          <p>
            KEPT helps maintain the high academic standards of Karmana. Students
            who pass the test demonstrate a strong foundation in magical
            studies, which is crucial for their success at our school.
          </p>
        </div>
        <div id="kept-reason" class="mb-3">
          <strong>Ensuring Readiness </strong>
          <p>
            The test assesses the basic knowledge and skills required for a
            student to thrive at Karmana. It ensures that all incoming students
            are prepared for the rigorous academic environment.
          </p>
        </div>
      </div>
    </div>

    <div id="our-commitment" class="mt-7 text-justify">
      <h2 class="text-4xl font-bold mb-4 uppercase">Commitment</h2>
      <p class="text-base md:text-lg">At Karmana, we are committed to:</p>
      <div
        id="commitments"
        class="text-sm md:text-base px-5 md:px-20 text-justify mt-3"
      >
        <div id="commitment" class="mb-3">
          <strong>Providing Quality Education </strong>
          <p>
            Our curriculum is designed to challenge and inspire students,
            helping them master both practical and theoretical aspects of magic.
          </p>
        </div>
        <div id="commitment" class="mb-3">
          <strong>Fostering Ethical Values </strong>
          <p>
            We emphasize the importance of integrity, responsibility, and
            respect in the practice of magic.
          </p>
        </div>
        <div id="commitment" class="mb-3">
          <strong>Encouraging Innovation </strong>
          <p>
            Students are encouraged to explore and innovate, pushing the
            boundaries of magical knowledge.
          </p>
        </div>
        <div id="commitment" class="mb-3">
          <strong>Supporting Personal Growth </strong>
          <p>
            We provide a supportive environment where students can grow both as
            witches and wizards and as individuals.
          </p>
        </div>
      </div>
    </div>

    <div id="our-campus" class="mt-7 text-justify">
      <h2 class="text-4xl font-bold mb-4 uppercase">Campus</h2>
      <p class="text-base md:text-lg">
        Karmana School of Witchcraft and Wizardry boasts a picturesque campus
        that combines modern amenities with enchanting landscapes. Our
        facilities include:
      </p>
      <div
        id="campus-facilities"
        class="text-sm md:text-base px-5 md:px-20 text-justify mt-3"
      >
        <div id="facility" class="mb-3">
          <strong>Ancient Library </strong>
          <p>
            Home to thousands of magical texts and manuscripts, offering
            students access to a wealth of knowledge.
          </p>
        </div>
        <div id="facility" class="mb-3">
          <strong>Alchemy Laboratories </strong>
          <p>
            State-of-the-art labs where students can experiment with potions and
            magical compounds.
          </p>
        </div>
        <div id="facility" class="mb-3">
          <strong>Spellcasting Arenas </strong>
          <p>
            Specially designed spaces for practicing spells and dueling
            techniques
          </p>
        </div>
        <div id="facility" class="mb-3">
          <strong>Herbology Gardens </strong>
          <p>
            Extensive gardens with a variety of magical plants and herbs used in
            potion-making and other magical practices.
          </p>
        </div>
        <div id="facility" class="mb-3">
          <strong>Astronomy Tower </strong>
          <p>
            A place for students to study the stars and their magical
            influences.
          </p>
        </div>
      </div>
    </div>

    <div id="extra-curricular-section" class="mt-7 text-justify">
      <h2 class="text-4xl font-bold mb-4 uppercase">
        Extracurricular Activites
      </h2>
      <p class="text-base md:text-lg">
        At Karmana, we believe in the importance of a well-rounded education.
        Students can participate in a variety of extracurricular activities,
        including:
      </p>
      <div
        id="activities"
        class="text-sm md:text-base px-5 md:px-20 text-justify mt-3"
      >
        <div id="activity" class="mb-3">
          <strong>Quidditch </strong>
          <p>
            Our Quidditch team competes in regional and international
            tournaments.
          </p>
        </div>
        <div id="activity" class="mb-3">
          <strong>Charms Club </strong>
          <p>Focusing on the study and application of various charms.</p>
        </div>
        <div id="activity" class="mb-3">
          <strong>Magical Creatures Club </strong>
          <p>
            Students can learn about and care for various magical creatures.
          </p>
        </div>
        <div id="activity" class="mb-3">
          <strong>Drama Society </strong>
          <p>For those interested in magical performances and plays</p>
        </div>
        <div id="activity" class="mb-3">
          <strong>Potion Brewing Competitions </strong>
          <p>
            Showcasing students’ skills in creating innovative potions. Charms
            Club: Focusing on the study and application of various charms.
          </p>
        </div>
      </div>
    </div>

    <div id="achievements-container" class="mt-7 text-justify">
      <h2 class="text-4xl font-bold mb-4 uppercase">Achievements</h2>
      <p class="text-base md:text-lg">
        Karmana has established itself as a beacon of excellence in the magical
        education realm, marked by several significant milestones that
        underscore our unique position as India’s premier wizarding institution.
      </p>
      <div
        id="achievements"
        class="text-sm md:text-base px-5 md:px-20 text-justify mt-3"
      >
        <div id="achievement" class="mb-3">
          <strong>Recognition as India's Premier Wizarding School </strong>
          <p>
            Karmana has been officially recognized as the foremost wizarding
            institution in India. This acknowledgment highlights our
            unparalleled role in magical education and our contribution to
            preserving and advancing the ancient traditions of wizardry within
            the country.
          </p>
        </div>
        <div id="achievement" class="mb-3">
          <strong>Distinguished Alumni Achievements </strong>
          <p>
            Karmana’s alumni have made significant strides in the magical
            community, holding esteemed positions in various magical fields and
            contributing to the advancement of magical arts and sciences. Their
            accomplishments reflect the high-quality education and training they
            received at Karmana.
          </p>
        </div>
        <div id="achievement" class="mb-3">
          <strong>Community Impact </strong>
          <p>
            Our various outreach and community service initiatives have made a
            considerable impact, helping to foster a greater appreciation and
            understanding of magic among the non-magical populace. These efforts
            showcase our commitment to bridging the gap between the magical and
            non-magical worlds.
          </p>
        </div>
        <div id="achievement" class="mb-3">
          <strong>State-of-the-Art Magical Facilities </strong>
          <p>
            The campus is equipped with cutting-edge magical facilities,
            including advanced potion laboratories, enchanted libraries, and
            specialized training grounds. These facilities support our mission
            to provide a world-class education and foster a vibrant magical
            learning environment.
          </p>
        </div>
        <div id="achievement" class="mb-3">
          <strong>Esteemed Faculty </strong>
          <p>
            Our faculty members are recognized for their exceptional expertise
            in various branches of magic. Their dedication and contributions to
            magical education enhance Karmana's reputation and ensure that our
            students receive the highest standard of instruction.
          </p>
        </div>
      </div>
      <p>
        These achievements reflect Karmana’s dedication to excellence in magical
        education and our commitment to shaping the future of wizardry in India.
        We continue to strive for greatness and uphold the highest standards in
        all our endeavors.
      </p>
    </div>
  </div>
</section>
