<section
  id="key-dates-container"
  class="w-full h-full flex items-center justify-center px-5"
>
  <table class="table-fixed w-full border-collapse border border-gray-400 my-5">
    <thead>
      <tr class="bg-sky-600 text-white">
        <th class="border border-gray-300 p-2">Key Event</th>
        <th class="border border-gray-300 p-2">Date of Event</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-gray-300 p-2">Registration Start Date</td>
        <td class="border border-gray-300 p-2">September 1, 2024</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="border border-gray-300 p-2">Registration End Date</td>
        <td class="border border-gray-300 p-2">September 30, 2024</td>
      </tr>
      <tr>
        <td class="border border-gray-300 p-2">Edit Details Start Date</td>
        <td class="border border-gray-300 p-2">October 1, 2024</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="border border-gray-300 p-2">Last Date to Edit Details</td>
        <td class="border border-gray-300 p-2">October 10, 2024</td>
      </tr>
      <tr>
        <td class="border border-gray-300 p-2">Hall Ticket Release Date</td>
        <td class="border border-gray-300 p-2">October 20, 2024</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="border border-gray-300 p-2">Exam Date</td>
        <td class="border border-gray-300 p-2">November 5, 2024</td>
      </tr>
      <tr>
        <td
          class="border text-center border-gray-300 p-2 text-red-600 text-sm"
          colspan="2"
        >
          *Change of dates will be notified via this website
        </td>
      </tr>
    </tbody>
  </table>
</section>
