<section
  id="test-structure-container"
  class="w-fu h-full flex items-center justify-center px-5 md:px-20 pb-10"
>
  <div class="overflow-x-auto">
    <table
      id="syllabus-table"
      class="table-auto w-full border-collapse border border-gray-400 md:my-5"
    >
      <thead>
        <tr>
          <th
            colspan="2"
            class="text-center font-bold md:text-2xl md:py-2 bg-sky-600 text-white"
          >
            Test Structure and Syllabus for KEPT 2024
          </th>
        </tr>
        <tr>
          <th class="p-2 bg-gray-100">Unit</th>
          <th class="p-2 bg-gray-100">Topic and Weightage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="4" class="font-bold py-1 text-left px-5 bg-gray-50">
            Unit - 1 Magical Theory
          </th>
          <td class="p-2">Basic Principles of Magic: 10%</td>
        </tr>
        <tr>
          <td class="p-2">History of Magic: 10%</td>
        </tr>
        <tr>
          <td class="p-2">Magical Laws and Ethics: 10%</td>
        </tr>
        <tr>
          <td class="p-2">Advanced Magical Theory: 10%</td>
        </tr>
        <tr>
          <th rowspan="2" class="font-bold py-1 text-left px-5 bg-gray-50">
            Unit - 2 Potion Making
          </th>
          <td class="p-2">Ingredient Identification: 10%</td>
        </tr>
        <tr>
          <td class="p-2">Potion Brewing Techniques: 10%</td>
        </tr>
        <tr>
          <th rowspan="2" class="font-bold py-1 text-left px-5 bg-gray-50">
            Unit - 3 Magical Creatures
          </th>
          <td class="p-2">Creature Identification: 10%</td>
        </tr>
        <tr>
          <td class="p-2">Care and Handling: 10%</td>
        </tr>
        <tr>
          <th rowspan="2" class="font-bold py-1 text-left px-5 bg-gray-50">
            Unit - 4 Spellcasting
          </th>
          <td class="p-2">Basic Spells: 10%</td>
        </tr>
        <tr>
          <td class="p-2">Advanced Spells: 10%</td>
        </tr>
        <tr>
          <th rowspan="2" class="font-bold py-1 text-left px-5 bg-gray-50">
            Unit - 5 Divination
          </th>
          <td class="p-2">Fortune Telling Methods: 5%</td>
        </tr>
        <tr>
          <td class="p-2">Interpretation of Signs: 5%</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="py-2 text-center">
            <button
              class="bg-sky-600 px-4 py-2 text-white font-bold rounded-md hover:bg-blue-600"
              id="print-btn"
            >
              Print Now
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <script src="scripts/syllabus.js" type="module"></script>
</section>
